* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: 'Segoe UI', sans-serif;
background: #f4fff4;
}

/* NAVBAR */
.navbar {
display: flex;
justify-content: space-between;
padding: 20px 80px;
background: white;
position: sticky;
top: 0;
}

.nav-links a {
margin-left: 20px;
text-decoration: none;
color: #333;
}

/* HERO */
.hero {
display: flex;
align-items: center;
justify-content: space-between;
padding: 100px;
background: linear-gradient(to right, #e8f5e9, #ffffff);
}

.text h1 {
font-size: 40px;
margin-bottom: 15px;
}

.text span {
color: #2e7d32;
}

.text p {
margin: 20px 0;
color: #555;
}

/* BUTTON */
.buttons {
display: flex;
gap: 10px;
}

.btn {
background: #2e7d32;
color: white;
padding: 10px 20px;
border-radius: 8px;
text-decoration: none;
}

.btn-outline {
border: 2px solid #2e7d32;
color: #2e7d32;
padding: 10px 20px;
border-radius: 8px;
text-decoration: none;
}

/* IMAGE */
.image img {
width: 300px;
border-radius: 50%;
box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* SECTION */
.section {
padding: 80px;
text-align: center;
background: white;
}

.card {
background: #f6fff6;
margin: 20px auto;
padding: 20px;
max-width: 600px;
border-radius: 12px;
cursor: pointer;
}

/* MODAL */
.modal {
display: none;
position: fixed;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.7);
justify-content: center;
align-items: center;
}

.modal-content img {
width: 200px;
margin: 10px;
border-radius: 10px;
}

.close {
position: absolute;
top: 20px;
right: 40px;
color: white;
font-size: 30px;
cursor: pointer;
}

/* ANIMATION */
.fade {
opacity: 0;
transform: translateY(40px);
transition: 1s;
}

.fade.show {
opacity: 1;
transform: translateY(0);
}
